.box_container{
    margin-left: 110px;
}

.gg-arrow-down {
    box-sizing: border-box;
    position: relative;
    display: flex;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.gg-arrow-down::after,
.gg-arrow-down::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 4px
}
.gg-arrow-down::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    left: 107px;
}
.gg-arrow-down::before {
    width: 2px;
    height: 16px;
    left: 110px;
    background: currentColor
}



#fill{
    background-color: lightblue;
}

#bold{
    font-weight: bold;
}

h2, #intro, #purpose, .explain, #demo{
    /* top right, buttom, left */
    margin: 0px 100px 0px 100px;
}

#summary, #demo_hint{
    text-align: center;
}

.bold {
    background-color: rgb(6, 1, 66);
    padding: 0 5px;
    color: white; /* Optional: Add some padding to the background */
}

#web_title{
    margin-top: 25px;
    text-align: center;
}

body{
    background-color: rgb(232, 255, 253);
}

table{
    border-collapse: collapse;
}

tr, td{
    padding: 0px;
    width: 50px;
    height: 50px;
    border: 3px solid black;
}

.horizontal_cell, .vertical_cell{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}


#yuh_yuh{
    background-color: blue;
    text-align: center;
    color: aquamarine;
}

#submit{
    color: navy;
}