table{
    border-collapse: collapse;
}

tr, td{
    padding: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
}

.horizontal_cell, .vertical_cell{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

